input:focus{
    outline: none;
}
button:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
button:hover{
    background-color: red;
}
.btn1:hover{
    background-color: rgb(8, 204, 8);
}
.b1{
    color: rgb(8, 204, 8);
}